body{
	font-family:Candara, fantasy;
	max-width:640px;
}

.arcane{
	width:50px;
	height:50px;
	border:1px dashed black;
	margin:5px; 
	float:left;
	text-align:center;
	line-height: 50px;
}

.key{
	width:60px;
	height:60px;
	border:1px dashed black;
	margin:5px; 
	float:left;
	text-align:center;
	line-height: 60px;
	cursor: pointer; cursor: hand;
	background-color:white;
	font-weight:bold;
}

#bestiary{
	position:absolute;
	top:363px;left:8px;
	height:430px; width:90%;max-width:640px;
	width:95%;
	background-color:white;
	overflow:scroll;
}

@media screen and (max-width: 600px) {
	.arcane{
		width:40px;
		height:40px;
 		line-height: 40px;
 	}
	.key{
		width:55px;
		height:55px;
 		line-height: 55px;
  	}
}

.toogleZone, button{
	cursor: pointer; cursor: hand;
}

#arcaneList{
	width:90%;
	background-color: black;
	background-color: #FFE4B5; 
}

#input{

}

#castButton{
	height:20px;
	width:75px;
	margin:5px; 
}
#resetButton{
	height:20px;
	width:75px;
	margin:5px; 
}

.bestiary{
	margin-top:5px;
	padding: 5px;
}

.foeName{
	font-weight: bold;
}