body{
	font-family:fantasy;
	max-width:640px;
}

.arcane{
	width:50px;
	height:50px;
	border:1px dashed black;
	margin:5px; 
	float:left;
	text-align:center;
	line-height: 50px;
}

.key{
	width:50px;
	height:50px;
	border:1px dashed black;
	margin:5px; 
	float:left;
	text-align:center;
	line-height: 50px;
	cursor: pointer; cursor: hand;
	background-color:white;
	font-weight:bold;
}

@media screen and (max-width: 600px) {
	.arcane{
		width:40px;
		height:40px;
 		line-height: 40px;
 	}
	.key{
		width:40px;
		height:40px;
 		line-height: 40px;
  	}
}

.toogleZone, button{
	cursor: pointer; cursor: hand;
}

#arcaneList{
	width:90%;
	background-color: black;
	background-color: red; 
}

#input{

}

#castButton{
	height:20px;
	width:75px;
	margin:5px; 
}
#resetButton{
	height:20px;
	width:75px;
	margin:5px; 
}