.arcane{
	width:50px;
	height:50px;
	border:1px dashed black;
	margin:5px; 
	float:left;
	line-height: 50px;
}

.key{
	width:50px;
	height:50px;
	border:1px dashed black;
	margin:5px; 
	float:left;
	text-align:center;
	line-height: 50px;
}

#arcaneList{
	width:90%;
	background-color: black;
	background-color: red; 
}

#input{

}

#castButton{
	height:20px;
	width:75px;
	margin:5px; 
}
#resetButton{
	height:20px;
	width:75px;
	margin:5px; 
}